
.icons{
    display: flex;
    flex-direction: row;
}
.redes{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.redes img {width: 20px;}
.parrafo-foot p{font-size: 12px;
text-align: center;

}

.mifooter{
    margin: 5%;
    background-color: #f3d2c1;
}


